html {
  margin: 0;
  padding: 0;
}

body { /*Styler dele af vores body(skrifttype og linjeafstand*/
  font-family: Arial, sans-serif;
  line-height: 1.8;
  margin: 0;
  padding: 0;
}

header { /*Styler feltet ovskriften står i(altså vores <head>)*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

header .logo { /*Styler overskrift i vores head "TØMKØLESKABET.dk"*/
  font-size: 35px;
  font-weight: bold;
  color: #010101;
  margin-inline: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo a { /* Styler overskriften som link, så det ikke er understreget og så teksten ikke bliver blå*/
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 20 px;
  color: black;
  text-transform: uppercase;
}

.logo a:visited {
color:#010101;

}

.logo a:hover { /* Styler overskriften så når man kører musen henover bliver den grøn*/
color: rgb(160, 204, 160);
}


nav ul { /* Styler vores liste med de tre overskifter i vores head ("Opskrifter", "Om os", "Mit køleskab")*/
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 15px;
}

nav ul li a { /* Styler de tre  overskifter i vores head */
  text-decoration: none;
  color: #595858;
  font-weight: bold;
  padding: 5px 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-right: 70px;
}

nav ul li a:hover { /* Grøn farve når man holder musen hen over de tre oversrifter*/
  color: #90c691; 
}


.hero img { /*Styler vores store billede*/
  max-width: 100%;
  height: 400px;
  margin: 0;
  padding: 0;
}

.content { /*Styler hvordan vores tekst på forsiden (både h1 og p) skal stå*/
  max-width: 800px;
  margin: 20px auto;
  padding: 0 15px;
  text-align: center;
  
}

.content h1 { /* Styler overskriften "Velkommen til Tøm Køleskabet"*/
  font-size: 45px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 40px;
  color: #3e3b3b;
  text-align: justify;
  border-bottom: 5px solid #90c691;
}

.content p { /* Styler den korte beskrivelse under h1*/
  font-size: 20px;
  color: #595858;
  text-align: justify;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
  margin-bottom: 70px;
}

/*Styler vores container på forsiden*/
.container {
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.box { /*Styler alle vores bokse med billede og titel i både på forside og opskrift sider. */
  width: 300px;
  background-color: #eaefea;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s;
}

.box:hover { /*Styler vores box, så når man kører musen henover boxen så udvider den sig en smule*/
  transform: scale(1.05);
}


.box h2 { /*Styler overskriften i vores boxe*/
  font-size: 1.2em;
  margin: 15px;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.box p { /*Styler den lille tekst under overskriften i vores boxe*/
  font-size: 0.9em;
  margin: 0 15px 15px;
  color: #000000;
  text-align: center;
}

.box a {/*Styler linket i vores boxe, så man kan trykke på boxen og komme videre, uden at noget er understreget eller farvet blåt.*/
  text-decoration: none;
  color: #90c691;
  background-color: #90c691;
}

.box img { /*Styler billedet i alle vores boxe*/
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover; 

}

.bigcontainer { /*Styler hvor på forsiden de to store boxe skal være*/
  max-width: 100%;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.bigbox { /*Styler de to store boxe*/
  max-width: 85%;
  max-height: fit-content;
  margin-left: 110px;
  background-color: #eaefea;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s;
}
.bigbox:hover { /*Styler vores to store boxe, så når man kører musen henover boxen så udvider den sig en smule */
  transform: scale(1.05);
}

.bigbox img { /*Styler billederne i de store bokse*/
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.bigbox h2 { /*Styler oversrift i den ene store box*/
  font-size: 1.2em;
  margin: 15px;
  color: #3e3b3b;
  font-weight: bold;
}

.bigbox p { /*Styler den test der er under titlen i de to store boxe*/
  font-size: 0.9em;
  margin: 0 15px 15px;
  color: #3e3b3b;
}

.bigbox a { /*Denne gør sådan så at man ikke kan se at der er et link*/
  text-decoration: none;
  color: #90c691;
  background-color: #90c691;

}


.dropdown { /* Dropdown container styling */
          position: relative; 
          display: inline-block;
}

      
.dropdown-content {/* Styler indholdet i vores dropdown menu */
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          z-index: 1;
}

.dropdown-content a { /* Denne gør så at indholdet i vores dropdown der er links, ikke bliver vist som links. */
          color: rgb(75, 75, 75);
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          font-size: 12px;
}

      

      
.dropdown:hover .dropdown-content { /* Styler vores indhold i dropdown med menuen, så når man kører musen over bliver teksten grøn */
          display: block;
 }

      
.dropdown button { /* Style dropdown button */
          text-decoration: none;
          color: #4f4f4f;
          font-weight: bold;
          font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          margin-right: 70px;
          border: none;
          background-color: white;
          font-size: 16px;
}

.dropdown button:hover {  /* Styler kanppen på vores dropdown menu, så når man kører musen over bliver teksten grøn */
          background-color: #90c691;
 }


.carousel-item { /*Gør så at alle vores elementer i carousellen strækker sig 100% af højden i dens container*/
  height: 100%;
}
.carousel-inner { /*Gør så alle elementer i den indre carousel også strækker sig 100% af dens højde*/
  height: 100%;
}
.carousel img { /* Styler billederne i vores caousel */
  height: 100%;
  object-fit: cover;
}
.side-carousel { /*Styler de to side carouseller*/
  height: 100%;
}
.carousel-section {
  margin-bottom: 50px; /* Tilføjer afstand under carousellen */
}

#results { /*Styler hvor resultaterne skal starte*/
  margin-top: 20px;
}
.recipe { /*styler elementet inde i boxen*/
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.recipe img { /*Styler billederne på de forskellige opskrifter på findopskrift siden */
  max-width: 100px;
  max-height: 100px;
  margin-right: 15px;
  border-radius: 5px;
}
.recipe h3 { /*Styler afstanden mellem overskrift og teksten under*/
  margin: 0;
}

.search-container {
  position: relative; 
  display: inline-block;
}

#ingredients {/* Styler det man skriver ind i søge feltet*/
  width: 300px; 
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
}

#searchbutton {/* Styler søge knappen*/
  padding: 10px 20px; 
  font-size: 16px; 
  font-weight: bold; 
  background-color: #90c691; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
}

#searchbutton:hover {/* Styler søge knappen så når man kører musen henover bliver den Mørkere grøn */
  background-color: #78b57a; 
}

.navbar-brand{/* Styler teksten i vores navbar */
  font-size: 24px;
  font-weight: bold; 
  text-transform: uppercase;
  color: #000; 
}

.recipe-container { /* Styler hvor vores boxe skal være henne på siden */
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.recipe-box {/* Styler selve boxen */
  width: 300px;
  background-color: #f9f9f9; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  transition: transform 0.2s;
}

.recipe-box:hover { /* Styler boxene på findopskrift siden så når man kører musen henover bliver den større*/
  transform: scale(1.05); 
}

.recipe-box img { /* Styler billedet i vores boxe på findopskrift siden */
  width: 100%;
  height: 100px;
}

.recipe-box h2 { /* Styler titlen i hver box på findopskrift siden */
  font-size: 1em;
  margin: 15px;
  color: #333333; 
  text-align: center;
  font-weight: bold;
  box-shadow: 0;
}

.recipe-box p { /* Styler den mindre tekst i hver box på find opskrift siden */
  font-size: 1em;
  margin: 0 15px 15px;
  color: #666666; 
  text-align: center;
  display: none;
}

.recipe-favorite-btn { /* Styler favorit knappen */
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: palevioletred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  width: 50%;
}

.recipe-favorite-btn:hover {  /* Styler favorit knappen på findopskrift siden så når man kører musen henover bliver den grøn */
  background-color: rgb(182, 71, 108);
}

footer { /*Styler vores footer*/
  background-color: #90c691;
  color: #fff;
  text-align: center;
  height: 100px;
  font-size: 75%;
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

.modalimg{
  width: 35%;
  height: 35%;
  margin-left: 20px;
  float: right;
  font-size: small;
}

.btn-primary{
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #90c691;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.btn-primary:hover {
  background-color: #639b64;
}

.result-box {
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
  display: none;
  max-height: 300px;
  overflow-y: scroll;
}

.result-box ul li {
  width: 100%;
}

.result-box ul li:hover {
  background: #e9f3ff;
}
.list-group-item {
  border: none !important;
  padding: 3px 10px !important;
}

.ingredientbutton:hover{
  background-color: rgb(206, 26, 26);
}